<style>
	.foto img{
		border-radius : 50%;
		max-height : 120px;
	}
	.foto{
		float : left;
	}
	.dados{
		float : left;
		margin-left : 20px;
	}
	.lista{
		padding-top : 20px;
	}
	.blocos{
		-moz-column-width: 50em;
		-webkit-column-width: 50em;
		-moz-column-gap: 20px;
		-webkit-column-gap: 20px; 
	}
	.bloco{
		 display: inline-block;
		 padding: 2px;
		 width:  100%; 
		 float:none;
	}
</style>


<button class="btn btn-default" onclick="window.print()"><i class="fa fa-print"></i> Imprimir</button>

<br/>
<br/>

<div class="panel panel-default">

	<div class="panel-heading">
		
		<strong>DADOS FUNCIONAIS</strong>
		
	</div>

	<div class="panel-body">
	
		<div class="foto">
			<a href="http://connections.bb.com.br/profiles/html/profileView.do?uid={{usuario.id}}&lang=pt_br" title="Visualiza ou edita o perfil">
				<img ng-src="http://connections.bb.com.br/profiles/photo.do?uid={{usuario.id}}"></img>
			</a>
		</div>
		
		<div class="dados">
	
			<strong>
				<a href="http://connections.bb.com.br/profiles/html/profileView.do?uid={{usuario.id}}&lang=pt_br" title="Visualiza ou edita o perfil">
					<h3>{{usuario.nome}}</h3>
				</a>
			</strong>
			
			<strong>Chave</strong>
			<span>{{usuario.id}}</span>
				
				
		</div>
	
		
	
	</div>

</div>


<div class="blocos">


	<div class="panel panel-default bloco" ng-repeat="b in blocos">
	
		<div class="panel-heading">
			
			<strong class="text-uppercase">{{b.texto}}</strong>
			<i class="text-muted" ng-if="b.descricao">({{b.descricao}})</i>
			
			
		</div>
	
	
		<div class="panel-body">
			
			<button class="btn btn-xs btn-primary hidden-print" ng-click="nova(b);" ng-hide="b._editando" title="Adiciona uma nova informação"><i class="fa fa-plus"></i> Adicionar...</button>

			<div class="form-group" ng-show="b._editando">
				
				<textarea ng-model="b._informacao.texto" class="form-control" maxlength="500"></textarea>
			
				<small>{{500 - b._informacao.texto.length}} caracteres restantes.</small>
			</div>
			
			<button class="btn btn-xs btn-success" ng-click="adiciona(b);" ng-show="b._editando" ng-disabled="!b._informacao.texto"><i class="fa fa-save"></i> Salvar</button>
			<button class="btn btn-xs btn-default" ng-click="b._editando = false;" ng-show="b._editando"><i class="fa fa-times"></i> Cancelar</button>
			
			<ul class="list-group lista" ng-show="b._informacoes.length">
			
				<li class="list-group-item" ng-repeat="i in b._informacoes">
					
					<button class="btn btn-xs btn-default hidden-print" ng-click="edita(i)" title="Edita a informação"><i class="fa fa-pencil"></i>  </button>
					<button class="btn btn-xs btn-warning hidden-print" ng-click="removendo=true" title="Remove a informação" ng-hide="removendo"><i class="fa fa-times"></i>  </button>
					<button class="btn btn-xs btn-danger" ng-click="remove(i);removendo=false" title="Remove a informação" ng-show="removendo"><i class="fa fa-times"></i> Confirmar a remoção</button>
					<button class="btn btn-xs btn-default" ng-click="removendo=false" title="Cancela a remoção" ng-show="removendo"><i class="fa fa-times"></i> Cancelar</button>
				
					<span>{{i.texto}}</span>
					
				</li>
				
			</ul>
			
		
			
		</div>
		
	</div>

</div>