<meta content="text/html; charset=UTF-8">

<form name="formArquivo">

	<button class="btn btn-success" ng-click="novo('cadastro.arquivo.edicao')">Novo</button>
	<button class="btn btn-primary" ng-click="salva()" ng-disabled="formArquivo.$invalid || (!arquivoSelecionado && !arquivo.arquivo_id) || arquivoSelecionado.size > tamanhoLimite">Salvar</button>
	<a class="btn btn-default" href="#{{::'cadastro.arquivo.lista' | routeSegmentUrl}}">Abrir...</a>

	<br/>
	<br/>

	<alert ng-repeat="alerta in alertas" type="{{alerta.tipo}}" close="fechaAlerta($index)">{{alerta.msg}}</alert>

	<div class="form-group has-feedback">

		<label class="control-label" ng-bind="'#' + arquivo.arquivo_id"></label>

	</div>

	<div class="form-group has-feedback" ng-class="{'has-error' : arquivoSelecionado.size > tamanhoLimite}">

			<label class="control-label">Arquivo</label>

			</br>
			
			<div class="btn btn-default" ng-file-select="aposSelecionar($files);selecionado = true" ng-hide="selecionado || arquivo.arquivo || arquivo.arquivo_id">Selecionar...</div>
		
			<p>{{ arquivo.arquivo ? arquivo.arquivo.nomeArquivo : arquivoSelecionado.name}}</p>
			
			<p ng-show="arquivoSelecionado.size > tamanhoLimite" class="usi-erro">Tamanho superior ao permitido (100mb).</p>
			
			<progressbar class="progress-striped active" value="progresso" max="100" type="success" ng-show="enviando"> {{progresso}}%</progressbar>
				
		</div>		
		
	</div>
	
	<div class="form-group has-feedback" ng-class="{'has-error' : formArquivo.nome.$error.required && formArquivo.$dirty}">

		<label class="control-label">Descrição</label>

		<input name="nome" type="text" maxlength="255" size="100" class="form-control" required ng-model="arquivo.descricao"></input>

		<p ng-show="formArquivo.nome.$error.required && formArquivo.$dirty" class="texto-erro">Campo obrigatório.</p>			
		
	</div>
	
	<div class="form-group has-feedback" ng-class="{'has-error' : formArquivo.categoria.$error.required && formArquivo.$dirty}">

		<label class="control-label">Categoria</label>

		<select name="categoria" ng-model="arquivo.categoria_id" ng-options="c.id as c.nome for c in categorias" required class="form-control">
		</select>
		
		<p ng-show="formArquivo.nome.$error.required && formArquivo.$dirty" class="texto-erro">Campo obrigatório.</p>			
		
	</div>
	
	<div class="checkbox">
    	<label>
      		<input type="checkbox" ng-model="arquivo.ativo"> Ativo
    	</label>
  	</div> 
	


</form>
