<meta content="text/html; charset=UTF-8">

<a class="btn btn-success" href="#{{::'cadastro.arquivo.edicao' | routeSegmentUrl : {id : 'novo'} }}">Novo...</a>

<br/>
<br/>

<usi-pesquisa ng-model="pesquisa"></usi-pesquisa>

<br />

<table class="table table-hover table-condensed link">

	<thead>

		<tr class="centro">
			<td>#</td>
			<td>Arquivo</td>
			<td>Descrição</td>
			<td>Upload em</td>
			<td>Categoria</td>
			<td>Restrição</td>
			<td>Ativo</td>
		</tr>
		
	</thead>
	
	<tbody infinite-scroll="limit = limit + 30" ng-init="limit = 10">

		<tr ng-repeat="a in arquivos | filter : pesquisa | limitTo : limit | orderBy : '-arquivo_id'" ng-click="abre('cadastro.arquivo.edicao', a)">
	
			<td>{{a.arquivo_id}}</td>
			
			<td>{{a.arquivo.nomeArquivo}}</td>

			<td>{{a.descricao}}</td>
			
			<td>{{a.arquivo.dataHoraInclusao | date : "dd/MM/yyyy 'às' hh'h'mm"}}</td>
			
			<td>{{a.categoria.nome}}</td>
			
			<td>{{a.categoria.acesso_id | restricao}}</td>
			
			<td class="centro">
				<input type="checkbox" ng-model="a.ativo" readonly/>
			</td>
			
		</tr>
	
	</tbody>

</table>



