<meta content="text/html; charset=UTF-8">

<a class="btn btn-success" href="#{{::'cadastro.categoria.edicao' | routeSegmentUrl : {id : 'nova'} }}">Nova...</a>

<br/>
<br/>

<usi-pesquisa ng-model="pesquisa"></usi-pesquisa>

<br />

<table class="table table-hover table-condensed link">

	<thead>

		<tr class="centro">
			<td>#</td>
			<td>Nome</td>
			<td>Restrição</td>
		</tr>
		
	</thead>
	
	<tbody infinite-scroll="limit = limit + 30" ng-init="limit = 10">

		<tr ng-repeat="c in categorias | filter : pesquisa | limitTo : limit" ng-click="abre('cadastro.categoria.edicao', c)">
	
			<td>{{c.id}}</td>
			
			<td>{{c.nome}}</td>

			<td>{{c.acesso_id | restricao}}</td>
			
		</tr>
	
	</tbody>

</table>



