<meta charset="UTF-8">

<style>
	.vagas{
		background-color: #E3EFFF !important;
	}
	.cabecalho, .rodape{
		font-weight : bold;
		background-color : #f5f5f5;
		text-align : center;
	}
	.dependencia strong{
		margin-left : 20px;
	}
	.ocupacao{
		//width : 12%;
		text-align : center;
	}
	.comissao{
		margin-left : 40px;
	}
	.comissoes{
		font-size : 12px;
	}
	.subtotal, .total, .quadro{
		text-align : center;
	}
	.comissoes.ng-enter, .comissoes.ng-leave{
	    -webkit-transition: 0.2s linear all;
		-moz-transition: 0.2s linear all;
		-ms-transition: 0.2s linear all;
		-o-transition: 0.2s linear all;
		transition: 0.2s linear all;
		/*ransition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;*/
	}
	.comissoes.ng-enter, .comissoes.ng-leave.ng-leave-active {
	  opacity:0;
	}
	.comissoes.ng-leave, .comissoes.ng-enter.ng-enter-active {
	  opacity:1;
	}
	.detalhe{
		padding : 0 !important;
		border : none !important;
	}
	.detalhe table{
		margin : 0;
	}
	.subtotal{
		font-weight : bold;
	}
	.funcionarios{
		font-size : 12px;
	}
	.selecionado{
		font-weight : bold;
	}
	.btn, .btn-group{
		margin-left : 4px;
	}
	#levantamento:hover>td{
		background-color : rgb(204, 231, 229) !important;
	}
	.usi-estrutura-linha:hover>td{
		background-color : rgb(204, 231, 229) !important;
	}
	.usi-estrutura-linha{
		border-bottom: 1px solid rgb(221, 221, 221);
	}
	.vagas{
		background-color: #E3EFFF !important;
	}
	.cabecalho{
		font-weight : bold;
		background-color : #f5f5f5;
		text-align : center;
	}
	.dados {
		text-align : center;
		//width : 10%;
	}
	.funcionarios{
		font-size : 12px;
	}
	.selecionado{
		font-weight : bold;
	}
	.btn, .btn-group{
		margin-left : 4px;
	}
	.pai{
		font-weight : bold;
	}
	.zero{
		color: #9D9D9D;
	}
	.coluna-hora {
		font-weight : normal !important;
	}
</style>


<!-- Apurações -->

<div class="btn-group">
	
	<button class="btn btn-primary">
		<i class="fa fa-calendar"></i>&nbsp 
		<strong>Apuração :  {{apuracao.apuracao | date : "dd/MM/yyyy 'às' HH:mm" }}</strong>
		</button>
	
	<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" data-placeholder="false"><span class="caret"></span></button>
		
	<ul class="dropdown-menu ">
	  
		<li ng-animate="'animate'" ng-repeat="a in apuracoes | orderBy : 'apuracao' : true">
		
			<label ng-click="buscaDados(a)">{{a.apuracao | date : "dd/MM/yyyy 'às' HH:mm" }}</label>
			
		</li>
	  
	</ul>
	
</div>

<div class="btn-group" >
	<button  ng-repeat="v in visoes" type="button" class="btn btn-success" ng-click="selecionaVisao(v)" ng-class="{'active selecionado' : v === visao}">{{v.label}}</button>
</div>    

<button class="btn btn-default hidden-print" onclick="window.print()"><i class="fa fa-print"></i>&nbspImprimir</button>

<br/>
<br/>
	
<usi-quadro visao="visao" apuracao="apuracao" prefixo="[4905, 8558, 9600]" ng-if="visao.id > 2"></usi-quadro>
<usi-estrutura visao="visao" apuracao="apuracao" ng-if="visao.id <= 2"></usi-estrutura>
