<meta content="text/html; charset=UTF-8">

<usi-pesquisa ng-model="pesquisa"></usi-pesquisa>

<br />

<table class="table table-hover table-condensed" ng-init="coluna = 'usuario.id'">

	<thead>

		<tr class="centro link">
			<td>
				<span ng-click="coluna = 'usuario.id'; ordem = !ordem">Chave</span>
				<i class="fa" ng-class="{'fa-sort-asc' : coluna == 'usuario.id' && ordem, 'fa-sort-desc' : coluna == 'usuario.id' && !ordem}"></i>
			</td>
			<td>
				<span ng-click="coluna = 'usuario.nome'; ordem = !ordem">Nome</span>
				<i class="fa" ng-class="{'fa-sort-asc' : coluna == 'usuario.nome' && ordem, 'fa-sort-desc' : coluna == 'usuario.nome' && !ordem}"></i>
			</td>
			<td>
				<span ng-click="coluna = 'acesso_id'; ordem = !ordem">Perfil</span>
				<i class="fa" ng-class="{'fa-sort-asc' : coluna == 'acesso_id' && ordem, 'fa-sort-desc' : coluna == 'acesso_id' && !ordem}"></i>
			</td>
		</tr>
		
	</thead>
	
	<tbody infinite-scroll="limit = limit + 30" ng-init="limit = 10">

		<tr ng-repeat="a in autorizacoes | filter : pesquisa | orderBy : coluna : ordem">
	
			<td>{{a.usuario.id}}</td>
			
			<td>{{a.usuario.nome}}</td>

			<td>{{a.acesso_id | restricao}}</td>
			
		</tr>
	
	</tbody>

</table>



