<style>
	#horaExtra:hover>td{
		background-color : rgb(204, 231, 229) !important;
	}
	.usi-estrutura-linha:hover>td{
		background-color : rgb(204, 231, 229) !important;
	}
	.usi-estrutura-linha{
		border-bottom: 1px solid rgb(221, 221, 221);
	}
	.cabecalho{
		font-weight : bold;
		background-color : #f5f5f5;
		text-align : center;
	}
	.dados {
		text-align : center;
		//width : 10%;
	}
	.selecionado{
		font-weight : bold;
	}
	.btn, .btn-group{
		margin-left : 4px;
	}
	.pai{
		font-weight : bold;
	}
	.zero{
		color: #9D9D9D;
	}
	.legenda thead,tfoot{
		text-align : center;
		font-weight : bold;
	}
	.coluna-hora {
		font-weight : normal !important;
	}
</style>

<div class="btn-group">
	
	<button class="btn btn-primary">
		<i class="fa fa-calendar"></i>&nbsp 
		<strong>Período:  {{apuracao.mes.nome}}/{{apuracao.ano}}</strong>
		</button>
	
	<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" data-placeholder="false"><span class="caret"></span></button>
		
	<ul class="dropdown-menu ">
	  
		<li ng-repeat="a in apuracoes">
		
			<label ng-click="selecionaApuracao(a)">{{a.mes.nome}}/{{a.ano}}</label>
			
		</li>
	  
	</ul>
	
</div>

<div class="btn-group">
	
	<button class="btn btn-primary">
		<i class="fa fa-calendar"></i>&nbsp 
		<strong>Acumulado até:  {{data | date : "dd/MM/yyyy" }}</strong>
		</button>
	
	<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" data-placeholder="false"><span class="caret"></span></button>
		
	<ul class="dropdown-menu ">
	  
		<li ng-animate="'animate'" ng-repeat="d in datas">
		
			<label ng-click="selecionaData(d)">{{d | date : "dd/MM/yyyy" }}</label>
			
		</li>
	  
	</ul>
	
</div>

<div class="btn-group" >
	<a class="btn btn-success" href="#{{'arh.horaExtra.quadro' | routeSegmentUrl}}" 		ng-class="{'active' : ('arh.horaExtra.quadro' | routeSegmentEqualsTo)}">Quadro</a>
	<a class="btn btn-success" href="#{{'arh.horaExtra.quadro-valor' | routeSegmentUrl : {valor : '0.1'} }}" 		ng-class="{'active' : ('arh.horaExtra.quadro-valor' | routeSegmentEqualsTo)}">Quadro (6 min)</a>
	<a class="btn btn-success" href="#{{'arh.horaExtra.comparativo' | routeSegmentUrl}}" 	ng-class="{'active' : ('arh.horaExtra.comparativo' | routeSegmentEqualsTo)}">Comparativo</a>
	<a class="btn btn-success" href="#{{'arh.horaExtra.tendencia' | routeSegmentUrl}}" 		ng-class="{'active' : ('arh.horaExtra.tendencia' | routeSegmentEqualsTo)}">Histórico</a>
</div>    

<button class="btn btn-default hidden-print" onclick="window.print()"><i class="fa fa-print"></i>&nbspImprimir</button>

</br>
</br>
	
<div class="anim" app-view-segment="2"></div>

	
