<meta charset="utf-8">

<br/>

<usi-pesquisa ng-model="pesquisa" index="1"></usi-pesquisa>

<br/>


<div ng-repeat="(categoria, arquivosPorCategoria) in arquivos | filter : pesquisa | groupBy : 'categoria.nome'">

	<div class="panel panel-default panel-relatorios" >
		
		<div class="panel-heading">
		
			<strong ng-bind="categoria"></strong>
			
		</div>
		
		<div class="panel-body">
		
			<ul class="list-inline" ng-repeat="a in arquivosPorCategoria | filter : pesquisa">

				<li>
					<a ng-href="{{ '/api/arquivo/arquivo/download/' + a.arquivo_id }}" ng-bind="a.descricao"></a>
				</li>
				
			</ul>
			
		</div>
		
	</div>

</div>

